<div class="row">
  <!---------------------header of article------------------------------>
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des Chambres</h1>
    </div>
    <div class="col-md-4 text-end">
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <button
            [routerLink]="['/dashboard/nouvelChambre']"
            type="button"
            class="btn btn-primary"
          >
            <i class="fas fa-plus"></i>&nbsp; Nouveau
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--------------------container of article------------------------------->
  <div class="col-md-7 m-3">
    <ng-container *ngIf="chambre as listStructure; else failureOrloading">
      <div class="card">
        <div class="card-header">
          <h5>Les Chambres</h5>
        </div>
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="search by nom"
            [(ngModel)]="keyword"
          />
          <div class="input-group-append">
            <button class="btn btn-secondary" (click)="searchNom()">
              Search
            </button>
          </div>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let ch of chambre; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveChambre(ch,i)">
              {{ch.numeroChambre}}
            </li>
          </ul>

        </div>
      </div>
    </ng-container>
    <ng-template #failureOrloading>
      <ng-container *ngIf="errorMessage; else loading"></ng-container>
      <div class="text-bg-danger">
        {{ errorMessage }}
      </div>
      <ng-template #loading>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 80%"
          >
            Loading...
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <div class="col-md-4 m-3">
    <app-details-chambre
      [viewMode]="true"
      [currentchambre]="currentCahmbre">
    </app-details-chambre>
  </div>

  <!-----------------------footer of article---------------------------->
  <div class="row-mb3">
    <div class="col-md-12 text-center">
      <!--<app-pagination></app-pagination>-->
    </div>
  </div>
  <!--------------------------------------------------->
</div>
