<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                        <img src="{{currentUser.profileImageUrl}}" width="140" class="mt-3 rounded" alt="" />
                      </div>
                      <div *ngIf="fileStatus.status === 'progress'" class="progress mt-1">
                        <div class="progress-bar bg-info" role="progressbar" [style.width.%]="fileStatus.percentage"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                          {{ fileStatus.percentage }}%
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                      <p class="mb-0">{{currentUser.username}}</p>
                      <div *ngIf="currentUser.lastLoginDateDisplay !== null" class="text-muted"><small>last login:{{currentUser.lastLoginDateDisplay | date: 'medium'}}</small></div>
                      <div class="mt-2">
                        <button (click)="updateProfileImage()" class="btn btn-primary" type="button">
                          <i class="fa fa-fw fa-camera"></i>
                          <span>Change Photo</span>
                        </button>
                      </div>
                    </div>
                    <div class="text-center text-sm-right">
                      <span class="badge bg-secondary">{{currentUser.role}}</span>
                      <div class="text-muted"><small>joined: {{currentUser.joinDate | date: 'medium'}}</small></div>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Infos</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Password</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                  </li>
                  <!--<li class="nav-item" role="presentation">
                    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
                  </li>-->
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <form #profileUserForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="firstName" required [(ngModel)]="currentUser.firstName">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" name="lastName" required [(ngModel)]="currentUser.lastName">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" name="username" [(ngModel)]="currentUser.username">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="email" [(ngModel)]="currentUser.email">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label>Role <small [hidden]="isAdmin">(read only)</small></label>
                                <select name="role" [disabled]="!isAdmin" required [(ngModel)]="currentUser.role" class="form-control">
                                  <option value="ROLE_USER">USER</option>
                                  <option value="ROLE_HR">HR</option>
                                  <option value="ROLE_MANAGER">MANAGER</option>
                                  <option value="ROLE_ADMIN">ADMIN</option>
                                  <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                          <div class="mb-2"><b>Account Setting</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="custom-controls-stacked px-2">
                                <div class="custom-control custom-checkbox">
                                  <input name="active" type="checkbox" [(ngModel)]="currentUser.active" class="custom-control-input">
                                  <label class="custom-control-label">&nbsp;Active</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input name="notLocked" type="checkbox" [(ngModel)]="currentUser.notLocked" class="custom-control-input">
                                  <label class="custom-control-label">&nbsp;Unlocked</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" type="submit">
                            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                            <span *ngIf="refreshing">Loading...</span>
                            <span *ngIf="!refreshing">Save changes</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <app-change-password></app-change-password>
                  </div>
                  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
                  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="px-xl-3">
                <button (click)="onLogOut()" class="btn btn-block btn-secondary">
                  <i class="fa fa-sign-out"></i>
                  <span>Logout</span>
                </button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h6 class="card-title font-weight-bold">Permission from Role</h6>
              <h6 *ngFor="let autorithy of currentUser.authorities" class="card-text">{{autorithy}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form enctype="multipart/form-data" style="display:none;">
    <input type="file" (change)="handleProfileImageChange($event)"
           name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*">
  </form>
</div>
