<div class="container">
  <div class="card bg-transparent mb-2 mt-2" style="width: 80rem;">
    <div class="card-body">
      <div class="row p-5">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/gest-Utilisateur']" class="btn btn-primary">
              <i class="fas fa-user-cog"></i>&nbsp;Comptes</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/gest-Batiment']"  class="btn btn-primary">
              <i class="fas fa-eye"></i>&nbsp;Batiment</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/niveauBat']"  class="btn btn-primary">
              <i class="fas fa-eye"></i>&nbsp;Niveau-Bat</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/chambre']" class="btn btn-primary">
              <i class="fas fa-eye"></i>&nbsp;Chambre</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <!--  <img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/rayon']" class="btn btn-primary">
              <i class="fas fa-eye"></i>&nbsp;Rayon</a>
          </div>
        </div>
        <div class="card hover" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/etagere']" class="btn btn-primary">
              <i class="fas fa-eye"></i>&nbsp;Etagere</a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="card bg-transparent mb-2 mt-2" style="width: 80rem;">
    <div class="card-body">
      <div class="row p-5">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/structures']"  class="btn btn-primary">
              <i class="fas fa-eye"></i>&nbsp;Structure</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/direction']"  class="btn btn-primary">
              <i class="fas fa-eye"></i>Direction</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/division']" class="btn btn-primary">
              <i class="fas fa-eye"></i>&nbsp;Division</a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
