<div class="row">
  <!---------------------header of article------------------------------>
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des Structures</h1>
    </div>
    <div class="col-md-4 text-end">
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <button
            [routerLink]="['/dashboard/nouvelStructure']"
            type="button"
            class="btn btn-primary"
          >
            <i class="fas fa-plus"></i>&nbsp; Nouveau
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--------------------container of article------------------------------->
  <div class="col-md-7 m-3">
    <ng-container *ngIf="structure as listStructure; else failureOrloading">
      <div class="card">
        <div class="card-header">
          <h5>Les Structures</h5>
        </div>
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="search by nom"
            [(ngModel)]="keyword"
          />
          <div class="input-group-append">
            <button class="btn btn-secondary" (click)="searchNom()">
              Search
            </button>
          </div>
          <ul class="list-group">
            <li
              class="list-group-item"
            *ngFor="let st of structure; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveStructur(st,i)">
              {{st.nomStructure}}
            </li>
          </ul>
          <!--<table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom Structure</th>
               &lt;!&ndash; <th scope="col">Descritption</th>&ndash;&gt;
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let s of structure; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveStructur(structure, i)">
                 <th scope="row">{{ s.id }}</th>
                <td>
                  {{ s.nomStructure }}
                </td>
                &lt;!&ndash;<td>{{ s.description }}</td>&ndash;&gt;

               &lt;!&ndash; <td>
                  &lt;!&ndash;<button
                    class="btn btn-outline-danger ms-1 mt-1"
                    title="Supprimer"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button
                    [routerLink]="['/dashboard/updateStructure/' + s.id]"
                    class="btn btn-outline-success ms-1 mt-1"
                    title="Modiffier"
                  >
                    <i class="fas fa-pencil-alt"></i>
                  </button>&ndash;&gt;
                  <button class="btn btn-outline-warning ms-1 mt-1"
                    title="Details" [routerLink]="['/dashboard/strutures/:id']">
                    <i class="fas fa-eye"></i>
                  </button>
                </td>&ndash;&gt;
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>-->
        </div>
      </div>
    </ng-container>
    <ng-template #failureOrloading>
      <ng-container *ngIf="errorMessage; else loading"></ng-container>
      <div class="text-bg-danger">
        {{ errorMessage }}
      </div>
      <ng-template #loading>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 80%"
          >
            Loading...
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <div class="col-md-4 m-3">
    <app-details-structure
      [viewMode]="true"
      [currentStructure]="currentStructur">
    </app-details-structure>
  </div>

  <!-----------------------footer of article---------------------------->
  <div class="row-mb3">
    <div class="col-md-12 text-center">
      <!--      <app-pagination></app-pagination>-->
    </div>
  </div>
  <!--------------------------------------------------->
</div>
