<div class="container ">
  <div class="card bg-transparent mb-2 mt-2" style="width: 80rem;">
    <div class="card-body" >
      <div class="row p-5">
        <div class="card" style="width: 14rem;">
          <img src="/assets/img.png"  class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouveauDocument']" class="btn btn-primary">
              <i class="fas fa-plus"></i>
              Ajout Document</a>
          </div>
        </div>

        <div class="card" style="width: 14rem;">
          <img src="/assets/img_3.png" width="18rem" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/saveDossier']"  class="btn btn-primary">
              <i class="fas fa-folder-plus"></i>
              Ajout Dossier</a>
          </div>
        </div>

        <!--<div class="card" style="width: 14rem;">
          <img src="/assets/img_2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/doc-dossier']" class="btn btn-primary">Document/Dossier</a>
          </div>
        </div>-->

        <div class="card" style="width: 14rem;">
          <img src="/assets/img_4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelBoite']" class="btn btn-primary">
              <i class="fas fa-boxes"></i>
              Ajout Boite</a>
          </div>
        </div>

       <!-- <div class="card" style="width: 14rem;">
          <img src="/assets/img_5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/boiteDossier']" class="btn btn-primary">Boite/Dossier</a>
          </div>
        </div>-->
      </div>
      <hr>
      <h2>Consulter les Archives creer</h2>
      <div class="d-flex">
        <div  class="p-2 flex">
          <button [routerLink]="['/dashboard/gestionDocument']" type="button" class="btn btn-primary">Documents</button>
        </div>
        <div  class="p-2 flex">
          <button type="button" class="btn btn-secondary">Dossiers</button>
        </div>
        <div  class="p-2 flex">
          <button type="button" class="btn btn-success">Boites</button>
        </div>
      </div>
    </div>
  </div>
</div>
