 <div class="row background-grey">
    <div class="container Aceuil-container mt-3" >
      <div class="card ">
        <div class="card-body " style="min-height: 200px;">
          <img class="mb-5 mt-5 pe-1 ps-1" src="/assets/logo_1.png" width="900" alt="">
          <h1 class="text-center green-color">&nbsp;Archive Management </h1>
        </div>
        <div class="row">
          <div class="fadeInDown container my-container">
            <div class="card justify-content-center mb-4">
              <div class="card-header text-center">
                <h3>Authentification</h3>
              </div>
              <div class="text-bg-danger" *ngIf="errorMessage">{{errorMessage}}</div>
              <form *ngIf="!isLoggedIn" name="form"
                    (ngSubmit)="f.form.valid &&onSubmit()"
                    #f="ngForm" novalidate>
                <div class="card-body">
                  <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text"
                           class="form-control"
                           name="username"
                           [(ngModel)]="form.username"
                           required
                           #username="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
                    <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                      Username is required!
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input  type="password"
                            class="form-control"
                            name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                    <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                      <div *ngIf="password.errors['required']">Password is required</div>
                      <div *ngIf="password.errors['minlength']">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 d-flex justify-content-between">
                    <!--          <a [routerLink]="['/inscrire']"  class="btn btn-link">S'inscrire</a>-->
                    <!-- <input type="submit"  class="fadeIn fourth" value="Login">-->
                    <button class="btn btn-primary" type="submit">LogIn</button>
                  </div>
                  <div class="form-group">
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                      Login failed: {{ errorMessage }}
                    </div>
                  </div>
                </div>
                <div class="alert alert-success" *ngIf="isLoggedIn">
                  Logged in as {{ roles }}.
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
