<div class="container">
  <div class="card bg-transparent mb-2 mt-2" style="width: 80rem;">
    <div class="card-body">
      <div class="row p-5">
        <div class="card" style="width: 12rem;">
          <!--<img src="/assets/img_9.png" class="card-img-top" alt="...">-->
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/gest-Utilisateur']" class="btn btn-primary">
              <i class="fas fa-user-plus"></i>&nbsp;Comptes</a>
          </div>
        </div>

        <div class="card" style="width: 12rem;">
          <!--<img src="/assets/img_12.png" class="card-img-top" alt="...">-->
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelBatiment']"  class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Batiment</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <!--<img src="/assets/img_12.png" class="card-img-top" alt="...">-->
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelNiveau']"  class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Niveau-Bat</a>
          </div>
        </div>

        <div class="card" style="width: 12rem;">
          <!--<img src="/assets/img_11.png" class="card-img-top" alt="...">-->
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelChambre']" class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Chambre</a>
          </div>
        </div>

        <div class="card" style="width: 12rem;">
        <!--  <img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelRayon']" class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Rayon</a>
          </div>
        </div>

        <div class="card hover" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelEtagere']" class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Etager</a>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>
  <div class="card bg-transparent mb-2 mt-2" style="width: 80rem;">
    <div class="card-body">
      <div class="row p-5">
        <div class="card" style="width: 12rem;">

          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/structures']" class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Structure</a>
          </div>
        </div>

        <div class="card" style="width: 12rem;">

          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelDirection']"  class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Direction</a>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <a href="#" [routerLink]="['/dashboard/nouvelDivision']"  class="btn btn-primary">
              <i class="fas fa-plus-circle"></i>&nbsp;Division</a>
          </div>
        </div>

      </div>
      <hr>

    </div>
  </div>
</div>
